.button {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: flex-start;
  align-items: baseline;
  width: 11rem;
  position: relative;
  right: 0;
  transition: right ease 0.5s;
}

.button:hover {
  right: -10px;
}
