.historyHidden {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  right: 0;
  transition: right ease 0.5s;
  opacity: 80%;
}

.historyVisible {
  visibility: visible;
  display: flex;
  flex-direction: row;
  position: relative;
  right: 0;
  transition: right ease 0.5s;
  opacity: 80%;
}

label {
  padding-right: 1rem;
}

.historyVisible:hover {
  right: -10px;
  opacity: 100%;
}
